services:
  - type: web
    name: job-alert-bot-python
    env: python
    plan: free
    buildCommand: |
      pip install -r requirements.txt
      playwright install --with-deps chromium
    startCommand: python main.py
    envVars:
      - key: PORT
        value: 10000
      - key: TELEGRAM_BOT_TOKEN
        sync: false
      - key: CHAT_ID
        sync: false

